<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Uplata</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <!-- Roditelj -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Roditelj" formControlName="roditelj_id" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="uplataForm.get('roditelj_id')?.errors?.serverError">
                                            {{ uplataForm.get("roditelj_id")?.errors?.serverError }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- DECA, readonly -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Dete" formControlName="dete_id" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="uplataForm.get('dete_id')?.errors?.serverError">
                                            {{ uplataForm.get("dete_id")?.errors?.serverError }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- IZNOS -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Iznos" formControlName="iznos" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="uplataForm.get('iznos')?.errors?.serverError">
                                            {{ uplataForm.get("iznos")?.errors?.serverError }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Potvrdi</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>