<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Oprema
                            <!-- <button mat-mini-fab aria-label="Example icon button with a delete icon" class="pull-right" routerLink="unos">
                                <mat-icon>add</mat-icon>
                              </button> -->
                        </h4>
                        <p class="card-category">

                        </p>
                    </div>
                    <div class="card-body">
                        <mat-form-field appearance="outline" class="pull-right col-md-3">
                            <mat-select #kamp [(ngModel)]="kamp_id" placeholder="Izaberite kamp">
                                <mat-option *ngFor="let kamp of kampovi$ | async" [value]="kamp.id">{{kamp.naziv}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <div class="table-responsive">
                            <table #dataTableOprema id="datatable_oprema" class="table table-bordered table-striped table-sm"></table>
                        </div> -->
                        <div class="row">
                            <div class="col-md-12 text-right">
                            </div>
                        </div>
                        <app-oprema-datatable [kamp_id]="kamp_id"></app-oprema-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>