<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Kampovi
                            <button mat-mini-fab aria-label="Example icon button with a delete icon" class="pull-right" routerLink="unos">
                            <mat-icon>add</mat-icon>
                          </button>
                        </h4>
                        <p class="card-category"> </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table #dataTableKamp id="datatable_kamp" class="table table-bordered table-striped table-sm "></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>