<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="zahtevForm" (ngSubmit)="submitForm()" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-info">
                                    <h4 class="card-title">Zahtev</h4>
                                    <p class="card-category" *ngIf="action_create">
                                        Novi unos
                                    </p>
                                    <p class="card-category" *ngIf="action_update">
                                        Izmena
                                    </p>
                                    <p class="card-category" *ngIf="action_delete">
                                        Brisanje
                                    </p>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <mat-form-field class="example-full-width col-md-6">
                                            <mat-select placeholder="Roditelj" formControlName="roditelj_id" [ngModel]="zahtev.roditelj_id" [errorStateMatcher]="matcher" (selectionChange)="roditelj_changed($event)">
                                                <mat-option *ngFor="let roditelj of roditelji" [value]="roditelj.id">{{roditelj.prezime}} {{roditelj.ime}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width col-md-6">
                                            <mat-select placeholder="Učesnik" formControlName="ucesnik_id" [ngModel]="zahtev.ucesnik_id" [errorStateMatcher]="matcher">
                                                <mat-option *ngFor="let ucesnik of ucesnici" [value]="ucesnik.id">{{ucesnik.prezime}} {{ucesnik.ime}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="row">
                                        <mat-form-field class="example-full-width col-md-12">
                                            <textarea matInput placeholder="Zahtev" formControlName="zahtev" [ngModel]="zahtev.zahtev" [errorStateMatcher]="matcher"></textarea>
                                            <mat-error *ngIf="zahtevForm.get('zahtev')?.errors?.serverError">
                                                {{ zahtevForm.get("zahtev")?.errors?.serverError }}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="row border-bottom">
                                        <mat-form-field class="example-full-width col-md-6">
                                            <mat-select placeholder="Kamp" formControlName="kamp_id" [ngModel]="zahtev.kamp_id" [errorStateMatcher]="matcher" (selectionChange)="kamp_changed($event)">
                                                <mat-option *ngFor="let kamp of kampovi" [value]="kamp.id">{{kamp.naziv}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width col-md-6">
                                            <mat-select placeholder="Smena" formControlName="smena_id" [ngModel]="zahtev.smena_id" [errorStateMatcher]="matcher">
                                                <mat-option *ngFor="let smena of smene" [value]="smena.id">{{smena.naziv}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="submitForm()">
                                      Potvrdi
                                  </button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" *ngIf="!action_create">
            <div class="col-md-12">
                <form [formGroup]="odgovorForm" (ngSubmit)="submitForm()" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Odgovor</h4>
                                    <p class="card-category" *ngIf="action_create">
                                        Novi unos
                                    </p>
                                    <p class="card-category" *ngIf="action_update">
                                        Izmena
                                    </p>
                                    <p class="card-category" *ngIf="action_delete">
                                        Brisanje
                                    </p>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <mat-form-field class="example-full-width col-md-6">
                                            <mat-select placeholder="Status" formControlName="status_id" [errorStateMatcher]="matcher">

                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="row">
                                        <mat-form-field class="example-full-width col-md-12">
                                            <textarea matInput placeholder="Odgovor" formControlName="odgovor" [ngModel]="zahtev.odgovor" [errorStateMatcher]="matcher"></textarea>
                                            <mat-error *ngIf="zahtevForm.get('odgovor')?.errors?.serverError">
                                                {{ zahtevForm.get("odgovor")?.errors?.serverError }}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="submitForm()">
                                      Potvrdi
                                  </button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>