<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Prevoz</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <!-- Učesnik -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Učesnik" formControlName="ucesnik_id" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="prevozForm.get('ucesnik_id')?.errors?.serverError">
                                            {{ prevozForm.get("ucesnik_id")?.errors?.serverError }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- Način prevoza -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Način prevoza" formControlName="nacin_prevoza_id" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="prevozForm.get('nacin_prevoza_id')?.errors?.serverError">
                                            {{ prevozForm.get("nacin_prevoza_id")?.errors?.serverError }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- Naplata -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Naplata" formControlName="naplata" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="prevozForm.get('naplata')?.errors?.serverError">
                                            {{ prevozForm.get("naplata")?.errors?.serverError }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- Datum polaska -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Datum polaska" formControlName="datum_polaska" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="prevozForm.get('datum_polaska')?.errors?.serverError">
                                            {{ prevozForm.get("datum_polaska")?.errors?.serverError }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- Datum odlaska -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Datum odlaska" formControlName="datum_odlaska" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="prevozForm.get('datum_odlaska')?.errors?.serverError">
                                            {{ prevozForm.get("datum_odlaska")?.errors?.serverError }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Potvrdi</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>