<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Hotel</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <!-- NAZIV  -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Naziv hotela" formControlName="naziv" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="hotelForm.get('naziv')?.errors?.serverError">
                                            {{ hotelForm.get("naziv")?.errors?.serverError }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- Mesto -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Mesto" formControlName="mesto_id" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="hotelForm.get('mesto_id')?.errors?.serverError">
                                            {{ hotelForm.get("mesto_id")?.errors?.serverError }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- Adresa -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Adresa" formControlName="adresa" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="hotelForm.get('adresa')?.errors?.serverError">
                                            {{ hotelForm.get("adresa")?.errors?.serverError }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- Telefon -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Telefon" formControlName="telefon" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="hotelForm.get('telefon')?.errors?.serverError">
                                            {{ hotelForm.get("telefon")?.errors?.serverError }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- Napomena -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Napomena" formControlName="napomena" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="hotelForm.get('napomena')?.errors?.serverError">
                                            {{ hotelForm.get("napomena")?.errors?.serverError }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>