<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Oprema</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <!-- Učesnik kampa -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Učesnik" formControlName="ucesnik_id" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="opremaForm.get('ucesnik_id')?.errors?.serverError">
                                            {{ opremaForm.get("ucesnik_id")?.errors?.serverError }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- Majica -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Veličina majice" formControlName="majica" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="opremaForm.get('majica')?.errors?.serverError">
                                            {{ opremaForm.get("majica")?.errors?.serverError }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- Sorc -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Veličina" formControlName="sorc" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="opremaForm.get('sorc')?.errors?.serverError">
                                            {{ opremaForm.get("sorc")?.errors?.serverError }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- duks -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Veličina duksa" formControlName="duks" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="opremaForm.get('duks')?.errors?.serverError">
                                            {{ opremaForm.get("duks")?.errors?.serverError }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- trenerka -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Veličina trenerke" formControlName="trenerka" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="opremaForm.get('trenerka')?.errors?.serverError">
                                            {{ opremaForm.get("trenerka")?.errors?.serverError }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- Količina -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Količina" formControlName="kolicina" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="opremaForm.get('kolicina')?.errors?.serverError">
                                            {{ opremaForm.get("kolicina")?.errors?.serverError }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Potvrdi</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>