<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <form [formGroup]="adminForm" (ngSubmit)="submitForm()" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Administrator</h4>
                                    <p class="card-category" *ngIf="action_create">
                                        Novi unos
                                    </p>
                                    <p class="card-category" *ngIf="action_update">
                                        Izmena
                                    </p>
                                    <p class="card-category" *ngIf="action_delete">
                                        Brisanje
                                    </p>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <mat-form-field class="example-full-width col-md-6">
                                            <input matInput placeholder="Ime" formControlName="ime" [ngModel]="admin.ime" [readonly]="action_delete" [errorStateMatcher]="matcher" />
                                            <mat-error *ngIf="adminForm.get('ime')?.errors?.serverError">
                                                {{ adminForm.get("ime")?.errors?.serverError }}
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width col-md-6">
                                            <input matInput placeholder="Prezime" formControlName="prezime" [ngModel]="admin.prezime" [readonly]="action_delete" [errorStateMatcher]="matcher" />
                                            <mat-error *ngIf="adminForm.get('prezime')?.errors?.serverError">
                                                {{ adminForm.get("prezime")?.errors?.serverError }}
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width col-md-6">
                                            <input matInput placeholder="Email" formControlName="email" [ngModel]="admin.email" [readonly]="action_delete" [errorStateMatcher]="matcher" />
                                            <mat-error *ngIf="adminForm.get('email')?.errors?.serverError">
                                                {{ adminForm.get("email")?.errors?.serverError }}
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width col-md-6">
                                            <input matInput placeholder="Telefon" formControlName="telefon" [ngModel]="admin.telefon" [readonly]="action_delete" [errorStateMatcher]="matcher" />
                                            <mat-error *ngIf="adminForm.get('telefon')?.errors?.serverError">
                                                {{ adminForm.get("telefon")?.errors?.serverError }}
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width col-md-6">
                                            <input matInput placeholder="Lozinka" formControlName="password" [readonly]="action_delete" [errorStateMatcher]="matcher" />
                                            <mat-error *ngIf="adminForm.get('password')?.errors?.serverError">
                                                {{ adminForm.get("password")?.errors?.serverError }}
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width col-md-6">
                                            <input matInput placeholder="Ponovite lozinku" formControlName="password_confirmation" [readonly]="action_delete" [errorStateMatcher]="matcher" />
                                            <mat-error *ngIf="adminForm.get('password_confirmation')?.errors?.serverError">
                                                {{ adminForm.get("password_confirmation")?.errors?.serverError }}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="submitForm()">
                                        Potvrdi
                                    </button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>